%div{ id: "#{comment.id}", class: 'well well-small media-body' }
  .row
    .span4
      %h4.media-heading= comment.user.name
    .span1.pull-right
      - if can? :manage, comment
        = link_to '&times;'.html_safe, movie_comment_path(comment.commentable, comment), |
                                    method: 'delete', class: 'close', remote: true
  %p= comment.body
