.nested-fields
  .control-group
    .form-inline
      = f.collection_select(:profession_id, @professions, :id, :name, prompt: 'Select a profession')
      = f.collection_select(:person_id, @people, :id, :to_s, prompt: 'Select a person')
      = link_to_remove_association "remove", f, class: 'btn btn-danger btn-small'
      %span.help-inline= @movie.errors['creators.movie_id'].first