<fieldset>
  <%= create_field(f, @movie, 'Profession') do %>
    <% f.number_field :profession_id %>
  <% end %>

  <%= create_field(f, @movie, 'Person') do %>
    <% f.number_field :person_id %>
  <% end %>

  <%= f.hidden_field :_destroy %>

  <div class="controls">
    <%= link_to 'remove', '#', class: 'remove_fields' %>
  </div>
</fieldset>