.nested-fields
  .control-group
    .form-inline
      = f.collection_select(:genre_id, @genres, :id, :name, prompt: 'Select a genre')

      = link_to_remove_association "remove", f, class: 'btn btn-danger btn-small'