.text-center
  .row{ style: "margin:0 auto; height: 55px;" }
    .wrap
      %h4= movie.name
  .row{ style: "margin:0 auto;" }
    = link_to (image_tag movie.poster, style: "max-height:385px; max-width:100%;", |
                onError: "this.onerror=null; |
                          this.src='https://lh4.googleusercontent.com/-iHcpcxQcoJ4/UWZNGLcFV2I/AAAAAAAACNE/uNyPZ5j31iY/s330/noImageAvailable.JPG';"), |
              movie_path(movie)
  .row{ style: "margin:0 auto;" }
    = ratings_for movie, :static
  .row{ style: "margin:0 auto;" }
    = render 'genres_list', genres: movie.genres