- title 'Movies'
- model_class = Movie

.thumbnails
  -#- @movies.each do |movie|
  -#  %li= render 'summary', movie: movie
  - @movies.each_slice(4) do |row|
    %br
    .row
      - row.each do |movie|
        %li.span3
          = render 'summary', movie: movie  
-#%table.table.table-bordered.table-condensed
-#  %tbody
-#    - @movies.each_slice(4) do |row|
-#      %tr
-#        - row.each do |movie|
-#          %td
-#            = render 'summary', movie: movie
            
.pagination-right
  = paginate @movies
- if can? :manage, Movie
  = link_to 'Add movie', new_movie_path, :class => 'btn btn-primary'