- title 'Movies'
- model_class = Movie

%table.table.table-bordered.table-condensed
  %tbody
    - @movies.each_slice(4) do |row|
      %tr
        - row.each do |movie|
          %td
            = render 'summary', movie: movie
            
.pull-right
  = paginate @movies
- if can? :manage, @movies
  = link_to 'Add movie', new_movie_path, :class => 'btn btn-primary'