= form_for [reviewable, review], remote: true do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.text_area :body, class: 'input-xxlarge', |
                                rows: 5, |
                                placeholder: 'Your review...' |
  = f.submit nil, class: 'btn btn-primary'